.footer {
  position: relative;
  background: linear-gradient(180deg, #ffeeba 0%, #ffe29c 100%);

  @media screen and (max-width: 1279px) {
    padding-top: 10px;
    padding-bottom: 8px;
  }
}

.footer__container {
  width: min(1500px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1279px) {
    flex-direction: column;
    padding-left: 120px;
  }
}

.footer__title {
  margin-left: 67px;
  margin-right: 144px;
  font-family: var(--font3);
  font-weight: 400;
  font-size: 72px;
  text-align: center;
  color: #e77495;

  @media screen and (max-width: 1279px) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 14px;
    font-size: 17px;
  }
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 21px;

  @media screen and (max-width: 1279px) {
    margin-bottom: 23px;
    gap: 16px;
  }
}

.footer-socials__text {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  color: #0f7054;

  @media screen and (max-width: 1279px) {
    font-size: 15px;
  }
}

.footer-socials__links {
  display: flex;
  align-items: center;
  gap: 12px;

  @media screen and (max-width: 1279px) {
    gap: 5;
  }

  a {
    @media screen and (max-width: 1279px) {
      width: 17px;
      height: 17px;
      &:first-of-type {
        width: 60px;
      }
    }
    svg {
      &:hover {
        transition: filter 200ms ease;
        filter: brightness(0.8);
      }
      &:active {
        filter: brightness(1);
      }
    }
    &:first-of-type {
      svg {
        fill: var(--pink-light);
      }
    }
  }
}

.footer__btn {
  width: 220px;
  height: 72px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pink-light);
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 24px;
  transition: filter 200ms ease;

  @media screen and (max-width: 1279px) {
    width: 75px;
    height: 24px;
    margin-left: 0;
    font-size: 8px;
  }

  &:hover {
    filter: brightness(0.8);
  }
  &:active {
    filter: brightness(1);
  }
}

.footer__img {
  img {
    @media screen and (max-width: 1279px) {
      position: absolute;
      bottom: 0;
      left: 15px;
    }
  }
}
